html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;

  position: relative;
}

.return-point {
  width: 50px;
  height: 50px;
  background-color: yellow;

  position: absolute;
  top: -100px;
  left: -100px;
}

.load-container {
  width: 100vw;
  height: 80vh;
  background-color: #2f9d50;
}

.custom-container {
  width: 90vw;
  margin: 0 auto;
}


.load-container > .custom-container {
  /*background-color: yellow;*/
  height: 80vh;
  padding-top: calc((80vh - 90vw) / 2);
}

#map {
  width: 90vw;
  height: 90vw;
  /*min-width: 350px;
  min-height: 350px;*/
}

.mapboxgl-control-container {
  display: none;
}

.marker {
  background-image: url('map-pin-solid-custom.png');
  background-size: contain;
  background-repeat: no-repeat;

  width: 26px;
  height: 66px;
  padding-bottom: 66px;

  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
}

h3 {
  text-align: center;
}

a {
  text-decoration: none;
  margin-bottom: 8px;
}

section {
  margin-bottom: 200px;
}

/*RESPONSIVE TEMPLATE
Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .custom-container {
    width: 80vw;
  }

  .load-container > .custom-container {
    height: 80vw;
    padding-top: calc((80vh - 80vw) / 2);
  }

  #map {
    width: 80vw;
    height: 80vw;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .custom-container {
    width: 65vw;
  }

  .load-container > .custom-container {
    height: 80vh;
    padding-top: calc((80vh - 65vw) / 2);
  }

  #map {
    width: 65vw;
    height: 65vw;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .custom-container {
    width: 50vw;
  }

  .load-container > .custom-container {
    height: 80vh;
    padding-top: calc((80vh - 50vw) / 2);
  }

  #map {
    width: 50vw;
    height: 50vw;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .custom-container {
    width: 40vw;
  }

  .load-container > .custom-container {
    height: 80vh;
    padding-top: calc((80vh - 40vw) / 2);
  }

  #map {
    width: 40vw;
    height: 40vw;
  }
}
